body {
    font-family: $font-main;
    background-color: $bg-main;
    color: $text-dark;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: $spacing-md;
}

main {
    animation: fadeIn 0.4s ease;
}
